body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

button {
    width: 90px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-weight: 800;
    font-size: 15px;
}

li {
    list-style-type: none;
    color: white;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0px 200px;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.bot-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
    margin-bottom: 100px;
}

.left-text {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

.text-logo {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    margin: 0px;
}

.subtext {
    color: #f9faf8;
}

.left-img {
    background-color: gray;
    padding: 100px;
    text-align: center;
    margin: auto 0px;
}

/* section-2 */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 0px;
    background-color: #f9faf8;
}

.heading {
    font-size: 36px;
    font-weight: 900;
    margin: 30px 0px;
}

.card-1 {
    width: 100px;
    height: 100px;
    border: 5px solid #3882f6;
    border-radius: 25%;
}

.content {
    display: flex;
    gap: 200px;
}

.content-1 {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-text {
    text-align: center;
}

/* section 3 */
.section-3 {
    padding: 100px 200px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 36px;
    font-weight: lighter;
    width: 810px;
}

.reference {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

/* section 4 */

.section-4 {
    padding: 100px 200px;
    background-color: #f9faf8;
}

.notification {
    display: flex;
    padding: 20px 100px;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 25px;
    align-items: center;
}

.noti-info {
    font-weight: 800;
    color: #f9faf8;
}

.noti-subtext {
    color: #f9faf8;
}

.button {
    margin-left: auto;
    border-color: #f9faf8;
}

button.noti-button {
    border-color: #f9faf8;
}

/* section 5 */

.section-5 {
    padding: 50px 100px;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
}