body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

button {
    width: 90px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-weight: 800;
    font-size: 15px;
}

li {
    list-style-type: none;
    color: white;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0px 200px;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.bot-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
    margin-bottom: 100px;
}

.left-text {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

.text-logo {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    margin: 0px;
}

.subtext {
    color: #f9faf8;
}

.left-img {
    background-color: gray;
    padding: 100px;
    text-align: center;
    margin: auto 0px;
}

/* section-2 */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: #f9faf8;
}